@{
    ViewData["Title"] = "Profil";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-botttom text-center pb-2">@ViewData["Title"]</h1>

    </div>
</div>

<div class="row mt-4">
    <div class="col-4">

        <div class="mb-4">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
        </div>
        <form method="post" asp-action="ProfilChangeAdSoyad">
            <div class="form-group">
                <label class="form-label small">Ad Soyad:</label>
                <div class="input-group mb-3">
                    <input name="AdSoyad" type="text" class="form-control" placeholder="Kullanıcı Adı" value="@ViewData["AdSoyad"]" />
                    <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Kaydet</button>
                </div>
            </div>
        </form>
        <form method="post" asp-action="ProfilChangeSifre">
            <div class="form-group">
                <label class="form-label small">Yeni Şifre:</label>
                <div class="input-group">
                    <input name="Sifre" type="password" class="form-control" placeholder="Şifre"/>
                    <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Kaydet</button>
                </div>
                @if (ViewData["Sonuc"] != null && ViewData["Sonuc"] == "ŞifreDeğiştirildi")
                {
                    <spna class="text-success small">Şifre Güncellendi</spna>
                }

            </div>
        </form>
    </div>
</div>
@section Scripts{
    @if (ViewData["Sonuc"] != null && ViewData["Sonuc"] == "ŞifreDeğiştirildi")
    {
        <script>
            toastr["success"]("Şifre Değiştirilmiştir.", "Şifre Değişti!");
        </script>
    }
}