@model KlinikViewModel
@{
    ViewData["Title"] = "Yeni Klinik Ekle";
}

<style>
    body {
        background-color: #f0f8ff; /* Açık mavi arkaplan rengi */
    }

    .container {
        margin-top: 50px;
    }

    .card {
        background-color: #fff; /* Beyaz kart arkaplan rengi */
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Gölgeli efekt */
        padding: 30px;
        text-align: center;
    }

    h1 {
        color: #333; /* Başlık rengi */
        font-size: 36px; /* Başlık font büyüklüğü */
        margin-bottom: 30px;
    }

    label {
        color: #555; /* Etiket rengi */
        font-weight: bold;
        font-size: 18px; /* Etiket font büyüklüğü */
    }

    .form-control {
        border: 1px solid #ddd; /* Form kontrol çerçeve rengi */
        border-radius: 8px;
        margin-bottom: 20px;
        font-size: 16px; /* Form kontrol font büyüklüğü */
        text-align: center;
    }

    .text-danger {
        color: #dc3545; /* Hata mesajı rengi */
        font-size: 14px; /* Hata mesajı font büyüklüğü */
    }

    .btn-primary {
        background-color: #007bff; /* Mavi renkli buton */
        border: none;
        border-radius: 8px;
        font-size: 20px; /* Buton font büyüklüğü */
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3; /* Hover durumunda buton rengi */
        }
</style>

<div class="container">
    <div class="card shadow">
        <h1>@ViewData["Title"]</h1>

        <form asp-action="KlinikEkle" method="post">

            <div class="form-group mb-4">
                <label asp-for="KlinikAdi" class="form-label">Klinik Adı:</label>
                <input asp-for="KlinikAdi" class="form-control" />
                <span asp-validation-for="KlinikAdi" class="text-danger small"></span>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket me-2"></i>Klinik Ekle</button>
            </div>

        </form>
    </div>
</div>
